<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: `Edit Gear | Paralog`}) %>
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main class="container">
        <h2>Edit a Rig:</h2>
        <form method="POST" action="/rigs/<%= rig._id %>?_method=PUT">
            <label for="name">Name:</label>
            <input class="u-full-width" type="text" id="name" name="name" value="<%= rig.name %>" required>
          
            <label for="container">Container:</label>
            <input class="u-full-width" type="text" id="container" name="container" value="<%= rig.container %>" required>
          
            <label for="reserve">Reserve:</label>
            <input class="u-full-width" type="text" id="reserve" name="reserve" value="<%= rig.reserve %>" required>
          
            <label for="main">Main:</label>
            <input class="u-full-width" type="text" id="main" name="main" value="<%= rig.main %>" required>
          
            <label for="aad">AAD:</label>
            <input class="u-full-width" type="text" id="aad" name="aad" value="<%= rig.aad %>" required>
          
            <label for="image">Image:</label>
            <input class="u-full-width" type="text" id="image" name="image" value="<%= rig.image %>">
          
            <label for="aadServiceDue">AAD Service Due:</label>
            <input class="u-full-width" type="date" id="aadServiceDue" name="aadServiceDue" value="<%= rig.aadServiceDue ? rig.aadServiceDue.toISOString().substr(0,10) : '' %>">
          
            <label for="reserveRepackDue">Reserve Repack Due:</label>
            <input class="u-full-width" type="date" id="reserveRepackDue" name="reserveRepackDue" value="<%= rig.reserveRepackDue ? rig.reserveRepackDue.toISOString().substr(0,10) : '' %>">
            <br>

            <input type="submit" class="button" value="Submit">
          </form>
          
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>
