<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Edit Jump ${jump.jumpNo} | Paralog`}) %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        <h2>Edit Jump:</h2>

        <form method="post" action="/jumps/<%= jump._id %>?_method=PUT">
            <label for="jumpNo">Jump Number:</label>
            <input type="number" id="jumpNo" name="jumpNo" value="<%= jump.jumpNo %>" required>
          
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" value="<%= jump.date.toISOString().substr(0,10) %>" required>
          
            <label for="place">Place:</label>
            <input type="text" id="place" name="place" value="<%= jump.place %>" required>
          
            <label for="aircraft">Aircraft:</label>
            <input type="text" id="aircraft" name="aircraft" value="<%= jump.aircraft %>" required>
                
            <label for="rig">Gear:</label>
            <select id="rig" name="rig">
                <% for (let rig of rigs) { %>
                <option value="<%= rig._id %>"><%= rig.name %></option>
                <% } %>
            </select>
            
            <label for="altitude">Altitude:</label>
            <input type="number" id="altitude" name="altitude" value="<%= jump.altitude %>" required>
          
            <label for="freeFallTime">Free Fall Time:</label>
            <input type="number" id="freeFallTime" name="freeFallTime" value="<%= jump.freeFallTime %>">
          
            <label for="description">Description:</label>
            <textarea id="description" name="description"><%= jump.description %></textarea>
          
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" value="<%= jump.image %>">
            
            <br> 
            <input type="submit" class="button" value="Submit">
          </form>
          
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
