<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Paralog'}) %>
    <!-- <link rel="stylesheet" href="/styles/jump-index.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        <section class="about">
            <h2>Logged Jumps</h2>
            <a href="/jumps/new" class="button">Log a Jump</a>
            <ul>
                <% jumps.sort((a, b) => a.jumpNo - b.jumpNo); %>
                <% for (let jump of jumps) { %>
                <li>
                    <div class="card row">
                        <div class="four columns img-box">
                            <img src="<%= jump.image %>" alt="jump photo" class="index-img">
                        </div>
                        <div class="eight columns">
                            <h5 class="card-header"> JUMP: <%= jump.jumpNo %> </h5>
                            <h6 class="docs-header"> <%= jump.date.toLocaleDateString() %> | <%= jump.place %> </h6>
                            <a href="/jumps/<%= jump._id %>" class="button">View Details</a>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
