<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Jump ${jump.jumpNo} | Paralog`}) %>
    <!-- <link rel="stylesheet" href="/styles/jump-index.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        
        <section class="card about">
            <section> 
                <% if (jump.image) { %>
                <img src="<%= jump.image %>" alt="jump photo" class="show-img">
                <% } else { %>
                <img src="/assets/vsa.jpeg" alt="default jump photo" class="no-img">
                <% } %>
            </section> 

            <section>
                <h5 class="card-header"> Jump Number: <%= jump.jumpNo %></h5>
                <p> <span class="docs-header">Date: </span><%= jump.date.toLocaleDateString() %></p>
                <p><span class="docs-header">Place: </span><%= jump.place %></p>
                <p><span class="docs-header">Aircraft: </span> <%= jump.aircraft %></p>
                <% if (jump.rig) { %>
                    <p><span class="docs-header">Equipment: </span><a href="/rigs/<%= rig._id %>/" class="click"> <%= rig.name %> </a></p>
                    <% } else { %>
                    <p><span class="docs-header">Equipment: </span><span class="missing">not logged</span></p>
                    <% } %>
                <p><span class="docs-header">Altitude: </span> <%= jump.altitude %> feet</p>
                <p><span class="docs-header">Freefall Time: </span> <%= jump.freeFallTime %> seconds</p>
                <p><span class="docs-header">Jump Description: </span> <%= jump.description %></p>
            </section>

            <section class="edit-delete">
                <a href="/jumps/<%= jump._id %>/edit" class="button">Edit Jump</a>
                <form method="POST" action="/jumps/<%= jump._id %>?_method=DELETE">
                    <input class="button" type="submit" value="Delete Jump"/>
                </form>
            </section>
        </section>
        <br>

        <a href="/jumps" class="button">View all jumps</a>


    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>