<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Jump ${jump.jumpNo} | Paralog`}) %>
    <!-- <link rel="stylesheet" href="/styles/jump-index.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        
        <section class="card about">
            <section> 
                <% if (jump.image) { %>
                <img src="<%= jump.image %>" alt="jump photo">
                <% } else { %>
                <img src="/assets/vsa.jpeg" alt="default jump photo" class="no-img">
                <% } %>
            </section> 

            <section>
                <h5 class="card-header"> Jump Number: <%= jump.jumpNo %></h5>
                <p>Date: <%= jump.date.toLocaleDateString() %></p>
                <p>Place: <%= jump.place %></p>
                <p>Aircraft: <%= jump.aircraft %></p>
                <% if (jump.rig) { %>
                    <p>Equipment: <%= rig.name %> </p>
                    <% } else { %>
                    <p>Equipment: <span class="missing">not logged</span></p>
                    <% } %>
                <p>Altitude: <%= jump.altitude %> feet</p>
                <p>Freefall Time: <%= jump.freeFallTime %></p>
                <p>Jump Description: <%= jump.description %></p>
            </section>

            <section class="edit-delete">
                <a href="/jumps/<%= jump._id %>/edit" class="button">Edit Jump</a>
                <form method="POST" action="/jumps/<%= jump._id %>?_method=DELETE">
                    <input class="button" type="submit" value="Delete Jump"/>
                </form>
            </section>
        </section>
        <br>

        <a href="/jumps" class="button">View all jumps</a>


    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>