<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Paralog'}) %>
    <!-- <link rel="stylesheet" href="/styles/home.css"> -->
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        <h2>Log a Jump:</h2>

        <form method="post" action="/jumps">
            <label for="jumpNo">Jump Number:</label>
            <input type="number" id="jumpNo" name="jumpNo" min="0" required>
          
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
          
            <label for="place">Place:</label>
            <input type="text" id="place" name="place" required>
          
            <label for="aircraft">Aircraft:</label>
            <input type="text" id="aircraft" name="aircraft" required>
          
            <label for="equipment">Equipment:</label>
            <input type="text" id="equipment" name="equipment" required>
          
            <label for="altitude">Altitude:</label>
            <input type="number" id="altitude" name="altitude" min="2500" value="13500" required>
          
            <label for="freeFallTime">Free Fall Time:</label>
            <input type="number" id="freeFallTime" name="freeFallTime">
          
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
          
            <label for="image">Image (URL):</label>
            <input type="text" id="image" name="image">

            <!-- <label for="image">Image (file):</label>
            <input type="file" id="myFile" name="image"> -->

            <label for="rig">Rig:</label>
            <select id="rig" name="rig">
                <% for (let rig of rigs) { %>
                <option value="<%= rig._id %>"><%= rig.name %></option>
                <% } %>
            </select>
            
            <input type="submit" class="button" value="Submit">
          </form>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>